#table {
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
}

.row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}
